/* Your app styles here */


/* chat style */

.container {
  border: 2px solid #dedede;
  background-color: ghostwhite;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: silver;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #666;
}

/* Style time text */
.time-left {
  float: left;
  color: #333;
}

#navList .item-inner{
  background-image: none !important;
}

.test-icon-left{
  position: absolute !important;
}

#navList .item-title {
  position: absolute !important;
  left: 45px;
}

.this-is-why-i-use-f7-components-and-not-f7vuecomponents-f7vuecomponents-are-created-AFTER-render{
  width: 100% !important;
}

.trans{
  text-transform:capitalize
}

.messageLine {
  max-height: 20px;
}

.my-cursor {
  cursor: default;
}
